# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# Pytest
.cache/
.pytest_cache/

# Virtual Environment
venv/
env/
ENV/
.venv/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Django migrations (optional if you want clean history)
**/migrations/*.py
!**/migrations/__init__.py

# IDEs
.idea/
*.swp

# macOS
.DS_Store

# dotenv
.env
.env.*